/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  margin: 24px auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#prompt-container {
  display: flex;margin: 12px;overflow: scroll;align-items: center;flex-flow: column wrap;
}

#container {
  display: flex;margin: 12px;overflow: scroll;align-items: center;flex-flow: column;
}

input {
  box-shadow: 0px 2px 4px 2px var(--shadow-color);
  border: 0;
  border-radius: 2px;
  margin: 12px;
  font-size: 16px;
}

.prompt-box {
  color: var(--main-text-color);
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 12px;
  font-size: 16px;
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

button {
  border-radius: 2px;
  background-color: transparent;
  transform: rotateZ(200deg);
  border: none;
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

button:hover {
  cursor: pointer;
  text-shadow: var(--shadow-color) -2px 2px 20px;
}

input:hover, input:active {
  box-shadow: var(--shadow-color) -2px 2px 20px;
}

pre {
  position: absolute;
  z-index: -100;
}

#draw {
  font-size: 48px;
}

h1 {
  font-size: 80%;
  text-align: center;
}

img {
  max-width: 60%;
  height: auto;
}

p {
  font-size: 80%;
}
